<div class='white-text'>
  <h2>Buy Points</h2>

  <ul>
    <li>You can buy 60, 120, or 200 points.  These points will instantly be added to your account and can be redeemed for any class on our list.</li>
    <li>You can pay for just one month, or you can sign up for six- or twelve- month memberships.</li>
  </ul>

  <br>




  <h2>Redeem Points and Sign Up for Classes</h2>


  <ul>
    <li>Once you have purchased your points, you can instantly sign up for classes through your account.</li>
    <li>Each class has a point value – generally between 8 and 16 points.  These points will automatically be deducted from your account.</li>
    <li>You can cancel your class reservation up to 24 hours in advance and get all the points back for that class.</li>
  </ul>

  <br>

  <h2>Attend Classes</h2>
  <ul>
    <li>
      To attend a class, simply show up at the studio, tell them your name, and you will be checked in to the class – no punch cards or membership passes to keep track of.
    </li>
  </ul>

  <br>
</div>


<style>
body {
    background: url(how_it_works.png) fixed 50% / cover;


}
.white-text h1,h2,h3,h4,p,ul>li {
  color:white;
}
</style>
