<div class='white-text'>
  <h1> Finally, a gym membership that offers the variety and flexibility you've been searching for. </h1>


</div>


<style>
body {
    background: url(index.png) fixed 50% / cover;


}
.white-text h1,h2,h3,h4,p,ul>li {
  color:white;
}
</style>
