<center>
<div id='header'>
  <div align=''>
    <div class='white-text'>
      <h1>
        <span class='big'>Finally</span>
        a gym membership that offers the
        <span class='big'>variety</span>
        and
        <span class='big'>flexibility</span>
        you've been searching for.
      </h1>
    </div>
  </div>
<div>
<br><br><br>

  <a href='/sign_up'>
    <button type='button' class='btn btn-custom navbar-btn'>
      Request Early Access Today!
    </button>
  </a>
</center>

<style>
body {
    background: url(index.png) fixed 50% / cover;


}
.white-text h1,h2,h3,h4,p,ul>li {
  color:white;
}
.big {

   background: none;
   color: #e65100;
}
#header {
  width: 300px;
  position: relative;
  top: 40px;
}
</style>
