<div id='header_section'>
  <div id='landing_text'>
    <div id='u-cover-image-width'>
      <center>
          <br><br>
          <div class='row'>
            <div class='col-md-9'>
              <h1 style='text-align: left;'>
                <span class='big'>Finally</span>
                a gym membership that offers the
                <span class='big'>variety</span>
                and
                <span class='big'>flexibility</span>
                you've been searching for. Buy points to attend classes at multiple gyms.
              </h1>
            </div>
            <div class='col-md-3'>
              <br><br>
              <a href='#cta_3'>
                <button type='button' class='btn btn-custom btn-lg'>
                  <b>REQUEST EARLY ACCESS TODAY</b>
                </button>
              </a>
            </div>
          </div>

        <br><br>

      </center>
    </div>
  </div>
</div>

<div class='container'>
  <div id='cta_1'>
  <br><br>
  <br>
    <center>
      <h1 class='big'>How it works</h1>
      <br>
      <div class='row'>
        <div class='col-md-4'>
          <i class='fa fa-user fa-4x'></i>
          <h4>Sign up for a Flex account</h4>
          <div style='text-align:left; width: 250px;'>
            <li>Sign up for a FlexFitness account.</li>
            <li>You can pay for just one month, or you can sign up for a 6 or 12 month membership.</li>
          </div>
        </div>
        <div class='col-md-4'>
          <i class='fa fa-map-marker fa-4x'></i>
          <h4>Locate classes at nearby gyms</h4>
          <div style='text-align:left; width: 250px;'>
            <li>Use our search engine to find classes at local gyms.</li>
            <li>To attend a class, simply show up at the studio, tell them your name, and you will be checked in to the class – no punch cards or membership passes to keep track of.</li>
          </div>
        </div>
        <div class='col-md-4'>
          <i class='fa fa-money fa-4x'></i>
          <h4>Redeem points for classes</h4>
          <div style='text-align:left; width: 250px;'>
            <li>Sign up for classes online and your
            points will be automatically deducted for each class. </li>
            <li>Cancel within 24 hours to get a full refund your points. We want to
            make your life easier.</li>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>

<div id='pricing_section'>
  <div id='landing_text'>
    <div id='u-cover-image-width'>
      <center>
        <h1>
          The studios we work with are small, boutique-style gyms that offer specialized
          classes in a variety of disciplines
        </h1>
      </center>
    </div>
  </div>
</div>

<div class='container'>
  <div id='cta_2'>
  <br><br>
  <br>
    <center>
      <h1 class='big'>Pricing</h1>
      <br>
      <div class='row'>
        <div class='col-md-4'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h2>Refresh</h2>
            </div>
            <div class='panel-body'>
              <h4>
                A Refresh membership is a great supplement to your current fitness
                routine - or a perfect trail for first-timers.
              </h4>
            </div>
          </div>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4>60 Points Per Month<br> 4-8 Classes</h4>
            </div>
            <div class='panel-body'>
              <h4>1 Month <span class='big'>$49 per Month</span></h4>
              <br>
              <h4>6 Months <span class='big'>$43 per Month</span></h4>
              <br>
              <h4>12 Months <span class='big'>$39 per Month</span></h4>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h2>Energize</h2>
            </div>
            <div class='panel-body'>
              <h4>
                The Energize membership provides a fun, flexible, and
                ever-chaning way to stay motivated and stay in shape.
              </h4>
              <br>
            </div>
          </div>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4>120 Points Per Month<br>8-12 Classes</h4>
            </div>
            <div class='panel-body'>
              <h4>1 Month <span class='big'>$89 per Month</span></h4>
              <br>
              <h4>6 Months <span class='big'>$83 per Month</span></h4>
              <br>
              <h4>12 Months <span class='big'>$79 per Month</span></h4>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h2>Ignite</h2>
            </div>
            <div class='panel-body'>
              <h4>
                An Ignite membership offers the ultimate in variety for people
                who love taking classes but just can't commit to one gym.
              </h4>
            </div>
          </div>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <h4>200 Points Per Month<br>16-24 Classes</h4>
            </div>
            <div class='panel-body'>
              <h4>1 Month <span class='big'>$139 per Month</span></h4>
              <br>
              <h4>6 Months <span class='big'>$129 per Month</span></h4>
              <br>
              <h4>12 Months <span class='big'>$119 per Month</span></h4>
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>

<div id='signup_section'>
  <div id='landing_text'>
    <div id='u-cover-image-width'>
      <center>
        <h1>
          We look for the best in yoga, Pilates, cross-fit, cycling, aerobics, and barre
          studios so you get the best, most knowledgeable instruction at each class
          you attend.
        </h1>
      </center>
    </div>
  </div>
</div>

<div class='container'>
  <div id='cta_3'>
  <br><br>
  <br>
    <center>
      <h1 class='big'>Get Access</h1>
      <br>
      <div class='u-form-width'>
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{clear:left; font:14px }
        </style>
        <div id="mc_embed_signup">
          <form action="//theflexfitness.us9.list-manage.com/subscribe/post?u=6c30ca3fb52825ab01e5535ea&amp;id=7736c92dfe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          	<h2>Subscribe to our mailing list and receive updates about early access. We don't spam.</h2>
          <div class="mc-field-group">
          	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          	<label for="mce-FNAME">First Name </label>
          	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          	<label for="mce-LNAME">Last Name </label>
          	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_6c30ca3fb52825ab01e5535ea_7736c92dfe" tabindex="-1" value=""></div>
              <b><div class="mc-field-group" style='font-size: 14px; font-weight: 900;'><input type="submit" value="REQUEST EARLY ACCESS" name="subscribe" class="btn btn-block btn-custom"></div></b>
          </form>
        </div>
      </center>
      </div>
    </div>
  </div>

<div id='contact_section'>
  <div id='landing_text'>
    <div id='u-cover-image-width'>
      <center>
        <h1>
          We work with locally owned studios so when you sign up for a Flex Fitness
          membership, you're not just helping yourself but your community as well.
        </h1>
      </center>
    </div>
  </div>
</div>

<div class='container'>
  <div id='cta_4'>
  <br><br>
  <br>
    <center>
      <h1 class='big'>Contact Us</h1>
      <br>
      <div class='u-form-width'>
        <a class='btn btn-custom btn-lg'
           href='mailto:info@theflexfitness.com'>
          <i class='fa fa-envelope fa-lg'></i>
           <b>Info@TheFlexFitness.com</b></a>
      </div>
    </center>
  </div>
</div>

<hr>
  <center>
    <%= link_to image_tag('/FacebookBig.png'), 'https://www.facebook.com/theflexfitness' %>
    <%= link_to image_tag('/TwitterBig.png'), 'http://www.Twitter.com/theflexfitness' %>
    <br><br>
    <p id='copyright'>
      &copy; 2014 Flex Fitness LTD
    </p>
    <p id='michael'>
      Designed by Affektive Software LLC
    </p>
  </center>
  <br>


<style>

.u-form-width{
  width: 40%;
}

  #header_section {
    background-image:url(/index.png);
    height:500px;
  }

  #pricing_section {
    background-image:url(/pricing.png);
    height:500px;
  }
  #signup_section {
    background-image:url(/sign_up.png);
    height:500px;
  }
  #contact_section {
    background-image:url(/contact.png);
    height:500px;
  }

  #u-cover-image-width{
    width: 85%
  }
.big {
   color: #CEA146;
}

  #landing_text
  {

    position:relative;
    color:white;
    font-size:24px;
    font-weight:bold;
    top:125px;
    left: 100px;
  }

  #cta_1{
    background-color: white;
    height: 430px;
  }

  #cta_2{
    background-color: white;
    height: 730px;
  }

  #cta_3{
    background-color: white;
    height: 560px;
  }

  #cta_4{
    background-color: white;
    height: 325px;
  }

  #contact{
    background-color: white;
    height: 150px;
  }

</style>
