<div>
  <div id='header_section'>
    <div id='landing_text'>
      <div id='u-cover-image-width'>
        <center>
            <br><br>
            <div class='row'>
              <div class='col-md-8'>
                <h1 class='mobile-width' style='text-align: left;'>
                  <span class='big'>Finally</span>
                  a gym membership that offers the
                  <span class='big'>variety</span>
                  and
                  <span class='big'>flexibility</span>
                  you've been searching for. Buy points to attend classes at multiple gyms.
                </h1>
              </div>
              <div class='col-md-3'>
                <br><br>
                <a href='#cta_3' class='hidden-xs'>
                  <button type='button' class='btn btn-custom btn'>
                    <b>REQUEST EARLY ACCESS TODAY</b>
                  </button>
                </a>
              </div>
              <div class='col-md-1'></div>
            </div>
          <br><br>
        </center>
      </div>
    </div>
  </div>

  <div class='container'>
    <div id='cta_1'>
    <br><br>
    <br>
      <center>
        <h1 class='big hidden-xs'>How it works</h1>
        <h2 class='big visible-xs'>How it works</h2>
        <br>
        <div class='row'>
          <div class='col-md-4'>
            <i class='fa fa-user fa-4x'></i>
            <b><h4 style='font-size: 150%;'>Sign up for a Flex account</h4 style='font-size: 150%;'></b><br>
            <div style='text-align:left; width: 250px;'>
              <li>Sign up for a FlexFitness account.</li><br>
              <li>You can pay for just one month, or you can sign up for a 6 or 12 month membership.</li><br>
            </div>
          </div>
          <div class='col-md-4'>
            <i class='fa fa-map-marker fa-4x'></i>
            <b><h4 style='font-size: 150%;'>Locate classes at nearby gyms</h4 style='font-size: 150%;'></b><br>
            <div style='text-align:left; width: 250px;'>
              <li>Use our search engine to find classes at local gyms.</li><br>
              <li>To attend a class, simply show up at the studio, tell them your name, and you will be checked in to the class – no punch cards or membership passes to keep track of.</li><br>
            </div>
          </div>
          <div class='col-md-4'>
            <i class='fa fa-money fa-4x'></i>
            <b><h4 style='font-size: 150%;'>Redeem points for classes</h4 style='font-size: 150%;'></b><br>
            <div style='text-align:left; width: 250px;'>
              <li>Sign up for classes online and your
              points will be automatically deducted for each class. </li><br>
              <li>Cancel within 24 hours to get a full refund your points. We want to
              make your life easier.</li><br>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>

  <div id='pricing_section'>
    <div id='landing_text'>
      <div id='u-cover-image-width'>
        <center>
          <h1 class='mobile-width'>
            The studios we work with are small, boutique-style gyms that offer specialized
            classes in a variety of disciplines.
          </h1>
        </center>
      </div>
    </div>
  </div>

  <div id='cta_2' >
    <div class='container' >
    <br><br>
    <br>
      <center>
        <h1 class='big hidden-xs'>Pricing</h1>
        <h2 class='big visible-xs'>Pricing</h2>
        <br>
        <div class='row'>
          <div class='col-md-4'>
            <div class='panel panel-default shadow-effect'>
              <div class='panel-heading'>
                <h2>Refresh</h2>
              </div>
              <div class='panel-body'>
                <h4>
                  A Refresh membership is a great supplement to your current fitness
                  routine - or a perfect trail for first-timers.
                </h4>
              </div>
            </div>
            <div class='panel panel-default shadow-effect'>
              <div class='panel-heading'>
                <h3>60 Points Per Month</h3>
                <h4>(1-2 Classes Per Week)</h4>
              </div>
              <div class='panel-body'>
                <h4>1 Month <span class='big'>$49 per Month</span></h4>
                <br>
                <h4>6 Months <span class='big'>$43 per Month</span></h4>
                <br>
                <h4>12 Months <span class='big'>$39 per Month</span></h4>
              </div>
            </div>
          </div>
          <div class='col-md-4'>
            <div class='panel panel-default shadow-effect'>
              <div class='panel-heading'>
                <h2>Energize</h2>
              </div>
              <div class='panel-body'>
                <h4>
                  The Energize membership provides a fun, flexible, and
                  ever-chaning way to stay motivated and stay in shape.
                </h4>
              </div>
            </div>
            <div class='panel panel-default shadow-effect'>
              <div class='panel-heading'>
                <h3>120 Points Per Month</h3>
                <h4>(2-3 Classes Per Week)</h4>
              </div>
              <div class='panel-body'>
                <h4>1 Month <span class='big'>$89 per Month</span></h4>
                <br>
                <h4>6 Months <span class='big'>$83 per Month</span></h4>
                <br>
                <h4>12 Months <span class='big'>$79 per Month</span></h4>
              </div>
            </div>
          </div>
          <div class='col-md-4'>
            <div class='panel panel-default shadow-effect'>
              <div class='panel-heading'>
                <h2>Ignite</h2>
              </div>
              <div class='panel-body'>
                <h4>
                  An Ignite membership offers the ultimate in variety for people
                  who love taking classes but just can't commit to one gym.
                </h4>
              </div>
            </div>
            <div class='panel panel-default shadow-effect'>
              <div class='panel-heading'>
                <h3>200 Points Per Month</h3>
                <h4>(4-6 Classes Per Week)</h4>
              </div>
              <div class='panel-body'>
                <h4>1 Month <span class='big'>$139 per Month</span></h4>
                <br>
                <h4>6 Months <span class='big'>$129 per Month</span></h4>
                <br>
                <h4>12 Months <span class='big'>$119 per Month</span></h4>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>

  <div id='signup_section'>
    <div id='landing_text'>
      <div id='u-cover-image-width'>
        <center>
          <h1 class='mobile-width'>
            We look for the best in yoga, Pilates, CrossFit, cycling, aerobics, and barre
            studios so you get the best, most knowledgeable instruction at each class
            you attend.
          </h1>
        </center>
      </div>
    </div>
  </div>

</div>

<div class='container'>
    <div id='cta_3'>
    <div class='hidden-xs'><br><br><br></div>
      <center>
        <h1 class='big hidden-xs'>Get Access</h1>
        <h2 class='big visible-xs'>Get Access</h2>
        <br>
        <div id='sign-up-form'>
          <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
          	#mc_embed_signup{clear:left; font:14px }
          </style>

          <div id="mc_embed_signup">
            <form action="//theflexfitness.us9.list-manage.com/subscribe/post?u=6c30ca3fb52825ab01e5535ea&amp;id=7736c92dfe"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  class="validate"
                  target="_blank"
                  novalidate>
              <center>
                <h2 class='hidden-xs'>Subscribe to our mailing list and receive updates about early access. We don't spam.</h2>
              </center>

              <div class="mc-field-group">
              	<label for="mce-EMAIL">Email Address
                </label><br>
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>

              <div class="mc-field-group">
              	<label for="mce-FNAME">First Name </label><br>
              	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>

              <div class="mc-field-group">
              	<label for="mce-LNAME">Last Name </label><br>
              	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
              </div>

            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>

              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_6c30ca3fb52825ab01e5535ea_7736c92dfe" tabindex="-1" value="">
              </div>
              <b>
                <br>
                <div class="mc-field-group" style='font-size: 14px; font-weight: 900;'>
                 <button type='submit' class='btn btn-block btn-custom'>
                    REQUEST EARLY ACCESS
                  </button>
                </div>

              </b>
            </form>
          </div>
        </center>
        </div>
      </div>
    </div>

  <div id='contact_section'>
    <div id='landing_text'>
      <div id='u-cover-image-width'>
        <center>
          <h1 class='mobile-width'>
            We work with locally owned studios so when you sign up for a Flex Fitness
            membership, you're not just helping yourself but your community as well.
          </h1>
        </center>
      </div>
    </div>
  </div>

<div class='container'>
  <div id='cta_4'>
  <br><br>
  <br>
    <center>
      <h1 class='big hidden-xs'>Contact Us</h1>
      <h2 class='big visible-xs'>Contact Us</h2>
      <br>
          <a class='btn btn-custom btn-lg'
             href='mailto:info@theflexfitness.com'>
            <i class='fa fa-envelope fa-lg'></i>
             <b>Info@TheFlexFitness.com</b></a>
    </center>
  </div>
</div>

<div>
<hr>
  <center>

    <%= link_to image_tag('/FacebookBig.png'), 'https://www.facebook.com/theflexfitness', target: '_blank' %>
    <%= link_to image_tag('/TwitterBig.png'), 'http://www.Twitter.com/theflexfitness', target: '_blank' %>
    <%= link_to image_tag('/InstaGramBig.png'), 'http://instagram.com/the_flexfitness', target: '_blank' %>
    <br><br>
    <p id='copyright'>
      &copy; 2014 Flex Fitness LTD
    </p>
    <p id='michael'>
      Designed by Affektive Software LLC
    </p>
  </center>
  <br>
</div>


<style>

.u-form-width{
  width: 40%;
}

  #header_section {
    background-image:url(/index-compressed.jpg);
    height:500px;
  }

  #pricing_section {
    background-image:url(/pricing-compressed.jpg);
    height:500px;
  }
  #signup_section {
    background-image:url(/sign_up-compressed.jpg);
    height:500px;
    position: relative;
    bottom: 25px;
  }
  #contact_section {
    background-image:url(/contact-compressed.jpg);
    height:500px;
  }

  #u-cover-image-width{
    width: 85%
  }
.big {
   color: #CEA146;
}

  #landing_text
  {

    position:relative;
    color:white;
    font-size:24px;
    font-weight:bold;
    top:125px;
    left: 100px;
  }

  @media (max-width: 500px) {
    #cta_1{
      background-color: white;
      height: 850px;
    }
    #cta_2{
      background-color: white;
      height: 1800px;
    }
    #cta_3{
      background-color: white;
      height: 425px;
    }
    #cta_4{
      background-color: white;
      height: 200px;
    }
    #email-button-position{
      position: relative;
      right: 90px;
    }
    #sign-up-form{
      width: 80%;
    }
  }

  @media (min-width: 500px) {
    #cta_1{
      background-color: white;
      height: 430px;
    }
    #cta_2{
      background-color: white;
      height: 715px;
    }
    #cta_3{
      background-color: white;
      height: 560px;
    }
    #cta_4{
      background-color: white;
      height: 325px;
    }
    #sign-up-form{
      width: 40%;
    }
  }

  #contact{
    background-color: white;
    height: 150px;
  }

  .shadow-effect {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

</style>
