<div class='white-text'>
  <center>
    <br><br><br><br>
  <div class='row'>
    <div class='col-md-4'>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h1 id='u-membership-title'>Refresh</h1>
          </center>
        </div>
      </div>
      <br>
      <p class='pricing-text'>
        A Refresh membership is a great supplement to your current fitness
        routine - or a perfect trail for first-timers.
      </p>
      <br>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h4 id='u-membership-title'>
              60<br>
              Points per Month<br>
              1-2 classes per week
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              1 Month: $49
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              6 Month: $43
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              12 Month: $39
            </h4>
          </center>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h1 id='u-membership-title'>Energize</h1>
          </center>
        </div>
      </div>
      <br>
      <p class='pricing-text'>
        The Energize membership provides a fun, flexible, and
        ever-chaning way to stay motivated and stay in shape.
      </p>
      <br>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h4 id='u-membership-title'>
              120<br>
              Points per Month<br>
              2-3 classes per week
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              1 Month: $89
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              6 Month: $83
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              12 Month: $79
            </h4>
          </center>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h1 id='u-membership-title'>Ignite</h1>
          </center>
        </div>
      </div>
      <br>
      <p class='pricing-text'>
        An Ignite membership offers the ultimate in variety for people
        who love taking classes but just can't commit to one gym.
      </p>
      <br>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h4 id='u-membership-title'>
              200<br>
              Points per Month<br>
              4-6 classes per week
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              1 Month: $139
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              6 Month: $129
            </h4>
          </center>
        </div>
      </div>
      <br>
      <div id='u-pricing-box-mini'>
        <div>
          <center>
            <h4 id='u-membership-title-mini'>
              12 Month: $119
            </h4>
          </center>
        </div>
      </div>
    </div>
  </div>
  </center>
</div>


<style>
body {
    background: url(pricing.png) fixed 50% / cover;


}
.white-text h1,h2,h3,h4,p,ul>li {
  color:white;
}
</style>
