<div class='white-text'>
  <center>
    <br><br><br><br>
  <div class='row'>
    <div class='col-md-4'>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h1 id='u-membership-title'>Refresh</h1>
          </center>
        </div>
      </div>
      <br><br>
      <p class='pricing-text'>
        A Refresh membership is a great supplement to your current fitness
        routine - or a perfect trail for first-timers.
      </p>
      <br><br>
    </div>
    <div class='col-md-4'>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h1 id='u-membership-title'>Energize</h1>
          </center>
        </div>
      </div>
      <br><br>
      <p class='pricing-text'>
        The Energize membership provides a fun, flexible, and
        ever-chaning way to stay motivated and stay in shape.
      </p>
      <br><br>
    </div>
    <div class='col-md-4'>
      <div id='u-pricing-box'>
        <div>
          <center>
            <h1 id='u-membership-title'>Ignite</h1>
          </center>
        </div>
      </div>
      <br><br>
      <p class='pricing-text'>
        An Ignite membership offers the ultimate in variety for people
        who love taking classes but just can't commit to one gym.
      </p>
      <br><br>
    </div>
  </div>
  </center>
</div>


<style>
body {
    background: url(pricing.png) fixed 50% / cover;


}
.white-text h1,h2,h3,h4,p,ul>li {
  color:white;
}
</style>
