

<div class='white-text'>
  <center>
    <h1>Partner Studio</h1>
  </center>

  <br><br><br><br><br><br>

  <ul>
    <li>The studios we work with are small, boutique-style gyms that offer specialized
    classes in a variety of disciplines.</li>
  </ul>
  <br>

  <ul>
    <li>We look for the best in yoga, Pilates, cross-fit, cycling, aerobics, and barre
    studios so you get the best, most knowledgeable instruction at each class
    you attend.</li>
  </ul>
  <br>

  <ul>
    <li>We work with locally owned studios so when you sign up for a Flex Fitness
    membership, you’re not just helping yourself, but the community as well.</li>
  </ul>
  <br>

  <!-- What List? -->
  <h4 class='pull-left'>
    If this sounds like you, or a studio you would like to see on our list, please let us know.
  </h5>
  <br>
</div>

<style>
body {
    background: url(studio_information.png) fixed 50% / cover;


}
.white-text h1,h2,h3,h4,p,ul>li {
  color:white;
}
</style>
