@import url(http://fonts.googleapis.com/css?family=Montserrat);

body { padding-bottom: 100px; }

@media (max-width: 500px) {
  h1 {
    font-size: 100%;
  }
}


* {
   line-height: 1;
   font-family: 'Montserrat';
}

ul {
    list-style-type: circle;
}
ul > li {
    color: black;
}
ul > li > span {
    color: black;
}
#u-pricing-box{
  width:225px;
  height:150px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;border:5px solid #999999;
  background:rgba(59,55,55,0.9);
}
#u-pricing-box-mini{
  width:225px;
  height:60px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;border:5px solid #999999;
  background:rgba(59,55,55,0.9);
}
#u-membership-title{
  color: white;
  position: relative;
  top: 25px;
}
#u-membership-title-mini{
  color: white;
  position: relative;
  top: 6px;
}
.pricing-text{
  width: 225px;
}
@media (min-width: 500px) {
  #u-navbar-height{
    height: 100px;
  }
}

#u-navbar-button-offset{
  position: relative;
  top: 20px;
}

#u-navbar-social-networking-offset{
  position: relative;
  bottom: 20px;
}

#copyright{
  color: #CEA146;
}

#michael{
  color: grey;
}
.transbox{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.btn-custom {
  background-color: hsl(26, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#CEA146", endColorstr="#CEA146");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe8223), to(#CEA146));
  background-image: -moz-linear-gradient(top, #CEA146, #CEA146);
  background-image: -ms-linear-gradient(top, #CEA146, #CEA146);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CEA146), color-stop(100%, #CEA146));
  background-image: -webkit-linear-gradient(top, #CEA146, #CEA146);
  background-image: -o-linear-gradient(top, #CEA146, #CEA146);
  background-image: linear-gradient(#CEA146, #CEA146);
  border-color: #CEA146 #CEA146 hsl(26, 100%, 34.5%);
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}
